<nav class="navbar-side" role="navigation">
            <div class="navbar-collapse sidebar-collapse collapse">
                <ul id="side" class="nav navbar-nav side-nav">
                    <!-- begin SIDE NAV USER PANEL -->
                    
                    
                       
                    <!-- end DASHBOARD LINK -->
                    <!-- begin CHARTS DROPDOWN -->
                    <li data-folder="dashboard" class="panel">
			                        <a class="active" data-folder="dashboard" data-show='n'>
			                            <i class="fa fa-dashboard" data-show='n'></i> <%=this.language['dashboard']%>
			                        </a>
		                    	</li>
                     <li class="panel">
                        <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#forms">
                            <i class="fa fa-edit"></i> Management <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="collapse nav" id="forms">
                           		
	                            <li data-folder="branches"  >
			                        <a data-folder="branches">
			                            <i class="fa fa-bar-chart-o"></i> <%=this.language['departments']%> 
			                        </a>
			                         
			                    </li>
	                           	 <li  data-folder="jobtypes">
			                        <a data-folder="jobtypes">
			                            <i class="fa fa-edit"></i> Job Types 
			                        </a>
			                        
			                    </li>
			                        <li data-folder="services">
			                        <a data-folder="services">
			                            <i class="fa fa-calendar"></i> Services
			                        </a>
			                    </li>
		                           <li  data-folder="employees">
				                        <a data-folder="employees">
				                            <i class="fa fa-table"></i> Employees  
				                        </a>
		                         
		                    		</li>
		                    		<li   data-folder="schedule">
		                        <a data-folder="schedule">
		                            <i class="fa fa-wrench"></i> Schedule  
		                        </a>
		                        
		                    </li>
                     <li data-folder="schedule">
                        <a data-folder="schedule">
                            <i class="fa fa-wrench"></i> Customers  
                        </a>
                        
                    </li>
                     <li   data-folder="schedule">
                        <a data-folder="schedule">
                            <i class="fa fa-wrench"></i> Bookings  
                        </a>
                        
                    </li>
                       </ul>
                    </li>
                   <li class="panel" data-folder="schedule">
                        <a data-folder="schedule">
                            <i class="fa fa-wrench"></i> Invoices  
                        </a>
                        
                    </li>
                       <li class="panel" data-folder="schedule">
                        <a data-folder="schedule">
                            <i class="fa fa-wrench"></i>  Revenue  
                        </a>
                        
                    </li>
                       <li class="panel" data-folder="schedule">
                        <a data-folder="schedule">
                            <i class="fa fa-wrench"></i> Account Updates   
                        </a>
                        
                    </li>
                       <li class="panel" data-folder="schedule">
                        <a data-folder="schedule">
                            <i class="fa fa-wrench"></i> Archived Lists   
                        </a>
                        
                    </li>
                    
                    <li class="panel">
                        <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#settings">
                            <i class="fa fa-edit"></i> Settings <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="collapse nav" id="settings">
                           		
	                            <li  data-folder="language">
                        <a href="#" data-folder="language">
                            <i class="fa fa-wrench"></i> Language   
                        </a>
                        
                    </li>
                         <li  data-folder="language">
                        <a href="#" data-folder="language">
                            <i class="fa fa-wrench"></i> Currency   
                        </a>
                        
                    </li>
			                    </ul>
			                    </li> 
                    
                      
                   
                    <!-- end PAGES DROPDOWN -->
                </ul>
                <!-- /.side-nav -->
            </div>
            <!-- /.navbar-collapse -->
        </nav>